/* .Palette {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Palette-colors {
    height: 90%;
    width: 100%;
} */

/* .Palette-footer {
    background-color: white;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
}

.emoji {
    font-size: 1.5rem;
    margin: 0 1rem;
} */